{% extends "_base.html" %}

{% block content %}
    <form method="POST" action="{% url 'quizzes:answer' question.id %}">
        {% csrf_token %}
        <label for="question">{{ question.text }}</label>
        {% for choice in question.choice_set.all %}
        <div>
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.text }}</label>
        </div>
        {% endfor %}
        <input type="submit" value="Submit Answer">
    </form>
{% endblock %}